lst/
obj/
bin/
*.dep
*.uvgui.*
*.uvgui_*.bak
*.uvguix.*
*.uvguix_*.bak
*_uvopt.bak
*_uvoptx.bak
*_uvproj.bak
*_uvprojx.bak
*.ctx
*.dbi
*.xdb
*.svn
*.pbxproj
*.cogui
*.comarker

build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
